<script setup>
import { ref } from "vue";
import TodoItem from "../components/TodoItem.vue";

// create todo lists
const todoLists = ref([]);
const todoName = ref("");

const handleSubmit = (e) => {
  e.preventDefault();
  if (todoName.value.trim()) {
    todoLists.value.push({
      title: todoName.value,
      isDone: false,
    });
    todoName.value = "";
  } else {
    alert("Please enter a todo list name");
  }
};

const handleDone = (todo) => {
  todoLists.value.forEach((item) => {
    if (item.title === todo.title) {
      item.isDone = !todo.isDone;
    }
  });
};

const handleRemove = (todo) => {
  todoLists.value.splice(todoLists.value.indexOf(todo), 1);
};

</script>

<template>
  <main class="bg-white rounded shadow p-6 m-4 w-full">
    <header class="text-4xl font-bold">Todo List</header>
    <form class="flex my-4" @submit="handleSubmit">
      <input
        class="shadow border rounded w-full py-2 px-3 mr-4 text-grey-darker"
        placeholder="Add Todo"
        type="text"
        v-model="todoName"
      />
      <button
        type="submit"
        class="flex-no-shrink p-2 border-2 rounded text-green-300 border-grentext-green-300 hover:text-white transition-all duration-200 ease-in-out hover:bg-blue-400"
      >Add</button>
    </form>
    <!-- list todo -->
    <section class="w-full">
      <ul class="space-y-2 divide-y-2">
        <TodoItem :todoLists="todoLists" @toggle="handleDone" @remove="handleRemove" />
      </ul>
    </section>
  </main>
</template>
