<script setup>
// define props for TodoItem
defineProps({
  todoLists: {
    type: Array,
    default: () => [],
  },
});
// define emits for TodoItem
defineEmits([
  "toggle",
  "remove",
]);

</script>
<template>
  <li v-for="(todo, index) in todoLists" :key="index" class="flex items-center py-2">
    <p class="w-full text-gray-400 flex-1">{{ todo.title }}</p>
    <button
      v-if="!todo.isDone"
      @click="$emit('toggle', todo)"
      class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green border-green hover:bg-green-400"
    >Done</button>
    <button
      v-else
      @click="$emit('toggle', todo)"
      class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-grey-200 border-grey-200 hover:bg-orange-400"
    >Not Done</button>
    <button
      @click="$emit('remove', todo)"
      class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red-400"
    >Remove</button>
  </li>
</template>